.container-contatos {
 display: grid;
 grid-template-columns: 1fr;
 gap: 20px;
 max-width: 1400px;
 margin: 0 auto;
 padding: 50px 20px;
 position: relative;
}

.container-contatos::before {
  content: '';
  width: 104px;
  height: 104px;
  background-image: url(./imagens/enfeite-2.svg);
  position: absolute;
  left: -10px;
  bottom: 0px;
  transform: rotate(20deg);
}

.container-contatos::after {
  content: '';
  width: 40px;
  height: 36px;
  background-image: url(./imagens/enfeite-1.svg);
  position: absolute;
 right: 0;
 top: 100px;
}

.container-contatos h2 {
  grid-column: span 1;
}

.lista-contatos {
 justify-self: center;
}

.lista-contatos li {
 background-image: radial-gradient(#FFE5F6 15%, #E351B0 70%);
 border-radius: 100px;
 margin: 50px;
}

.lista-contatos li a{
 border: 0;
 padding: 0;
}

.lista-contatos li a img{
 padding: 55px;
}

.lista-contatos li:hover {
 scale: 1.2;
 transition: 500ms;
}

@media (max-width: 1130px) {
 .lista-contatos li a img{
  width: 45px;
  height: 45px;
  padding: 38px;
 }

 .lista-contatos li {
  margin: 35px;
 }
}

@media (max-width: 835px) {
 .lista-contatos li a img{
  width: 31px;
  height: 31px;
  padding: 26px;
 }

 .lista-contatos li {
  margin: 16px;
 }

 .container-contatos::before {
  content: '';
  width: 40px;
  height: 36px;
  background-image: url(./imagens/enfeite-1.svg);
  position: absolute;
  bottom: 40px;
  left: 5px;
  transform: rotate(180deg);
 }
}
