.navegacao {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 margin: 20px 0;
}

.lista {
 display: flex;
 gap: 40px;
 justify-self: center;
}

.lista li{
 font-size: 1.25rem;
 padding: .625rem 0;
}

#botao-contato {
 justify-self: end;
 padding: .625rem 1.25rem;
 border: solid 2px #CB1C8D;
 color: #CB1C8D;
 border-radius: 5px;
}