.navegacao {
 max-width: 1400px;
 padding: 0 20px;
 display: grid;
 grid-template-columns: 1fr 400px 1fr;
 align-items: center;
 margin: 20px auto;
}

header {
 position: fixed;
 background-color: #F2F2F2;
 z-index: 1;
 top: 0;
 left: 0;
 right: 0;
}

.ancora-logo{
 padding: 0;
}

.lista {
 display: flex;
 flex-wrap: wrap;
 gap: 40px;
 justify-content: center;
}

.lista li{
 padding: .625rem 0;
}

#botao-contato:hover {
 color: #CB1C8D;
}

#botao-contato {
 justify-self: end;
 padding: .625rem 1.5625rem;
 border: solid 2px #CB1C8D;
 color: #CB1C8D;
 border-radius: 5px;
 font-family: "roboto medium", Arial, Helvetica, sans-serif;
 font-weight: 600;
 letter-spacing: .0313rem;
}

#botao-contato:hover {
 background-color: #CB1C8D;
 color: #FFE5F6;
}

@media (max-width: 1120px) {
 .lista {
  gap: 20px;
  font-size: 1.125rem;
 }

 #botao-contato {
  font-size: 1.125rem;
 }
}