.introducao {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

#foto-perfil {
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 530px;
 }

 /* #foto-perfil img {
  max-width: 100%;
  max-height: 100%;
  display: block;
 } */

h1 {
 font-family: "fira sans-semibold", Arial, Helvetica, sans-serif;
 font-size: 6rem;
}

span {
 color: #CB1C8D;
}

.introducao h2 {
 font-family: "fira sans-regular", Arial, Helvetica, sans-serif;
 font-size: 3rem;
 margin-top: 0;
}

.introducao ul {
 display: flex;
 gap: 20px;
}

.introducao ul li {
  padding: .625rem 0;
  font-family: "roboto medium", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: .0313rem;
 }

.botao-contato-intro {
 background-color: #CB1C8D;
 color: #FFE5F6;
}

.botao-contato-intro:hover {
  background-color: transparent;
  color: #CB1C8D;
  border-color: #CB1C8D;
 }

#botao-cv {
 color: #CB1C8D;
}

#botao-cv:hover {
 border-color: #CB1C8D;
}