.secao-skills {
 display: grid;
 grid-template-columns: repeat(3, 400px);
 gap: 20px;
 max-width: 1200px;
 margin: 0 auto;
}

.lista-skills h3{
 text-align:  center;
}

.itens-lista {
 display: block;
 padding: 20px;
 margin-bottom: 40px;
 position: relative;
}


