.skills {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 max-width: 1400px;
 margin: 0 auto;
 padding: 100px 0;
}

.lista-skills h3{
 text-align:  center;
 font-size: 1.875rem;
}

.itens-lista {
 display: block;
 padding: 20px;
 margin-bottom: 40px;
 position: relative;
}

.itens-lista h4{
 font-family: "roboto medium", Arial, Helvetica, sans-serif;
 font-weight: 600;
 margin: 0 0 5px 0;
}

.itens-lista p {
 color: #2A7C20;
 margin: 0;
 line-height: 30px;
}

.itens-lista span {
 color: #5B5B5B;
}

.itens-lista::before {
  content: '';
  width: 16px;
  height: 126px;
  background-image: url(./imagens/icone-lista.svg);
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.soft {
 grid-column: span 3;
 justify-self: center;
 display: flex;
 align-items: center;
 gap: 20px;
 position: relative;
}

.soft h3, ul li{
  display: inline-block;
}

.soft h3 {
  margin: 0;
  font-size: 1.875rem;
}

.itens-soft {
 display: flex;
 gap: 20px;
}

.itens-soft li {
 padding: 0 30px;
 position: relative;
}

.itens-soft li::before{
 content: '';
 width: 15px;
 height: 15px;
 background-color: #CB1C8D;
 border-radius: 30px;
 position: absolute;
 left: 0;
 top: 5px;
}

.soft::after {
  content: '';
  width: 104px;
  height: 104px;
  background-image: url(./imagens/enfeite-2.svg);
  position: absolute;
  right: -45px;
  bottom: 0px;
  transform: rotate(-5deg);
}

.enfeite2 {
 position: relative;
}

.enfeite2::before {
  content: '';
  width: 40px;
  height: 36px;
  background-image: url(./imagens/enfeite-projetos.svg);
  position: absolute;
  left: -30px;
  top: -30px;
  transform: rotate(270deg);
}