
.secao-sobre {
 background-color: #F6EDF3;
}

.sobre h2 {
  grid-column: span 2;
}

.secao-sobre div {
 max-width: 1400px;
 margin: 0 auto;
}

.sobre {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 2.1875rem;
 padding: 50px 100px;
}

.sobre div {
 /* max-width: 500px; */
 align-self: center;
}

#foto-sobre {
 /* max-width: 500px; */
 justify-self: end;
}

#foto-sobre img {
 max-width: 100%;
 height: 100%;
 display: block;
 object-fit: cover;
}

.paragrafo-sobre {
 font-size: 1.25rem;
 line-height: 1.625rem;
 /* height: 480px; */
 /* margin: 25px; */
}