@font-face {
 font-family: "roboto regular";
 src: local(roboto), url(/fontes/Roboto-Regular.ttf);
 font-weight: 400;
}

@font-face {
 font-family: "roboto medium";
 src: local(roboto), url(/fontes/Roboto-Medium.ttf);
 font-weight: 500;
}

@font-face {
 font-family: "fira sans-regular";
 src: local("fira sans"), url(/fontes/FiraSans-Regular.ttf);
 font-weight: 400;
}

@font-face {
 font-family: "fira sans-medium";
 src: local("fira sans"), url(/fontes/FiraSans-Medium.ttf);
 font-weight: 500;
}

@font-face {
 font-family: "fira sans-semibold";
 src: local("fira sans"), url(/fontes/FiraSans-SemiBold.ttf);
 font-weight: 600;
}

* {
 scrollbar-color: #CB1C8D #FFE5F6;
}

*::-webkit-scrollbar {
 width: 5px;
 height: 5px;
}

*::-webkit-scrollbar-track {
 background: transparent;
}

*::-webkit-scrollbar-thumb {
 background-color: #CB1C8D;
 border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
 html {
  scroll-behavior: smooth;
 }
}

:target {
 scroll-margin-top: 80px;
}

body {
 margin: 0;
 min-width: 15px;
 background-color: #F2F2F2;
 font-family: "roboto regular", Arial, Helvetica, sans-serif;
 font-size: 1.25rem;
 color: #141214;
 padding-top: 88px;
}

a {
 text-decoration: none;
 padding: .625rem 1.25rem;
 color: #141214;
 letter-spacing: .0313rem;
 border: solid 2px transparent;
 border-radius: 5px;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

h1 {
 font-weight: normal;
 margin-bottom: 0;
}

h2, h3, h4 {
 font-weight: normal;
}

strong {
 font-family: "roboto medium", Arial, Helvetica, sans-serif;
 font-weight: 600;
}

.titulo-secao {
 font-family: "fira sans-medium", Arial, Helvetica, sans-serif;
 font-size: 2.5rem;
 display: inline-block;
 position: relative;
 grid-column: span 3;
 justify-self: center;
 margin: 0;
}

.titulo-secao::after {
 content: '';
 width: 40px;
 height: 4px;
 background-color: #CB1C8D;
 border-radius: 3px;
 position: absolute;
 bottom: 0;
 right: 0;
}


 @media (max-width: 810px) {
 .titulo-secao {
  font-size: 2.1875rem;
 }

 .titulo-secao::after {
  width: 30px;
  height: 3px;
 }
}

@media (max-width: 635px) {
 .titulo-secao {
  font-size: 1.6875rem;
 }

 .titulo-secao::after {
  width: 25px;
 }
}
 