.skills {
 display: grid;
 grid-template-columns: 1fr;
 gap: 35px;
 max-width: 1400px;
 margin: 0 auto;
 padding: 80px 20px;
}

.skills h2 {
  grid-column: span 1;
}

.abas, label{
  display: none;
}

.conteudo-skills {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}

.lista-skills h3{
 text-align:  center;
 font-size: 1.875rem;
}

.itens-lista {
 display: block;
 padding: 1.25rem;
 margin-bottom: 2.5rem;
}

.itens-lista h4{
 font-family: "roboto medium", Arial, Helvetica, sans-serif;
 font-weight: 600;
 margin: 0 0 5px 0;
 letter-spacing: .0313rem;
 position: relative;
}

.itens-lista h4::before {
 content: '';
 width: 16px;
 height: 126px;
 background-image: url(/imagens/icone-lista.svg);
 position: absolute;
 left: -20px;
 top: -25px;
}

.itens-lista p {
 color: #2A7C20;
 margin: 0;
 line-height: 1.875rem;
}

.itens-lista span {
 color: #5B5B5B;
}

.aba-soft {
 grid-column: span 3;
 justify-self: center;
}

.soft {
 display: flex;
 align-items: center;
 gap: 20px;
 flex-wrap: wrap;
}

.soft h3 {
 margin: 0;
 font-size: 1.875rem;
}

.itens-soft {
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
}

.itens-soft li {
 padding: 0 1.875rem;
 position: relative;
}

.itens-soft li::before{
 content: '';
 width: 15px;
 height: 15px;
 background-color: #CB1C8D;
 border-radius: 30px;
 position: absolute;
 left: 0;
 top: 5px;
}

.skills {
 position: relative;
}

.skills::after {
 content: '';
 width: 104px;
 height: 104px;
 background-image: url(/imagens/enfeite-2.svg);
 position: absolute;
 right: 30px;
 bottom: 110px;
 transform: rotate(-5deg);
}

.skills::before {
 content: '';
 width: 40px;
 height: 36px;
 background-image: url(/imagens/enfeite-1.svg);
 position: absolute;
 left: 10px;
 top: 170px;
 transform: rotate(270deg);
}

@media (max-width: 1280px) {
 .abas-skills {
  justify-self: center;
  position: relative;
  width: 650px;
  height: 595px;
 }

 .conteudo-skills {
  display: inline-block;
 }

 .abas-skills ul li {
  float: left;
 }

 .abas-skills label {
  display: inline-block;
  font-family: "roboto medium", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: .0313rem;
  color: #CB1C8D;
  padding: .625rem 1.5625rem;
  width: 100px;
  border: 2px solid #CB1C8D;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
 }

 .abas-skills label:hover {
  background-color: #CB1C8D;
  color: #F6EDF3;
 }

 input:checked ~ label {
  background-color: #CB1C8D;
  color: #F6EDF3;
 }

 .lista-skills ul {
  display: grid;
  grid-template-columns: 415px;
  justify-content: center;
  padding: 20px;
  margin: auto;
 }

 .itens-lista {
  margin: 20px 0;
 }

 .lista-skills, .soft {
  border: 2px solid #CB1C8D;
  border-radius: 0 10px 10px 10px;
  width: 650px;
  height: 550px;
  left: 0;
  position: absolute; 
  display: none;
  transition: 0.3s;
 }

 .lista-skills h3, .soft h3{ 
  display: none;
 }

 input:checked ~ .lista-skills, input:checked ~ .soft{
  display: block;
 }

 .itens-soft {
  width: 13.75rem;
  padding: 20px;
  margin: 157px auto;
 }

 .skills::before {
  left: 5px;
  top: 100px;
  transform: rotate(-80deg);
 }

 .skills::after {
  right: 20px;
  bottom: 70px;
  transform: rotate(-70deg);
 }
}

@media (max-width: 0px){
 /* .skills {
  grid-template-columns: 1fr;
 }
 .skills h2 {
  grid-column: span 1;
 } */

 /* .lista-skills {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
 } */

 /* .lista-skills h3, .soft h3 {
  font-size: 1.5625rem;
 }

 .lista-skills ul {
  width: 25.9375rem;
 }

 .skills::before {
  left: 0px;
  top: 150px;
  transform: rotate(270deg);
 }

 .skills::after {
  right: 10px;
  bottom: 50px;
  transform: rotate(-90deg);
 } */
}

@media (max-width: 700px){
 .abas-skills {
  width: 450px;
  height: 595px;
 }

 .abas-skills label {
  font-size: 16px;
  padding: .625rem .9375rem;
  width: 80px;
 }

 .lista-skills ul {
  grid-template-columns: 345px;
  font-size: 1rem;
  height: auto;
 }

 .lista-skills, .soft {
  width: 447px;
  height: 500px;
  border-radius: 0 0px 10px 10px;
 }

 .skills::after {
  bottom: 30px;
 }

 .itens-lista {
  padding: 0;
 }

 .itens-lista h4::before {
  width: 4px;
  height: 25px;
  border-radius: 10px;
  background-color: #CB1C8D;
  left: -10px;
  top: 0;
 }

 .soft ul {
  font-size: 1rem;
 }

 .itens-soft {
  width: 11.5625rem;
  padding: 20px;
  margin: 143px auto;
 }

 .itens-soft li::before{
  width: 10px;
  height: 10px;
  left: 0;
  top: 2.5px;
 }
}

@media (max-width: 495px) {
 .lista-skills {
  justify-items: start;
 }
 
 .lista-skills h3 {
  justify-self: center;
 }
 .lista-skills ul {
  width: auto;
 }
}
